<div class="container">
 <p class="text-block">
Тут нужно собрать более сложные данные: для каждого курса нужно посчитать, сколько человек его проходит и вывести упорядоченный список.
</p>
 <p class="text-block">
Внимательно изучите логи приложения - нас итересует количество запросов. Сейчас не требуется делать эффективно, но нужно примерно представлять, что именно ORM будет делать в базе.
</p>  
 <p class="text-block">
В этом задании нужно подготовить данные в методе контроллера, но где будет сама логика их построения - решать вам.
</p>    
  <div class="two-lists"> 
  <div class="expected">
    <ul>
      <li>На Hidden course 999 записано 0.</li>
      <li>На RDB 251 записано 2.</li>
      <li>На Math 101 записано 3.</li>
      <li>На PTP 212 записано 3.</li>
      <li>На CS 101 записано 4.</li>
    </ul>
    </div>
    <div class="actual">
    <ul>
      <%- @courses_group.each do |cg| %>
      <li><%= "На #{cg[:title]} записано #{cg[:cnt]}" %></li>
      <%- end %>  
    </ul>
    </div>
  </div>        
<p class="text-block">
Это последнее задание. Если списки совпали, грузи ответы в Moodle и продолжай делать коаны, или обсуди индивидуальный проект.
</p>
</div>        
  
</div>