<div class="container">
 <div class="two-lists"> 
   <div class="expected">
    <ul>
      <li>Anthony записан(а) на курс Math 101</li>
      <li>Bob записан(а) на курс Math 101</li>
      <li>Cris записан(а) на курс Math 101</li>
      <li>Daria записан(а) на курс CS 101</li>
      <li>Eugene записан(а) на курс CS 101</li>
      <li>Grisha записан(а) на курс CS 101</li>
      <li>Eugene записан(а) на курс PTP 212</li>
      <li>Anthony записан(а) на курс PTP 212</li>
      <li>Cris записан(а) на курс PTP 212</li>
      <li>Grisha записан(а) на курс RDB 251</li>
      <li>Daria записан(а) на курс RDB 251</li>
      <li>Eugene записан(а) на курс RDB 251</li>
    </ul>
    </div>
    <div class="actual">
    <ul>
      <%- @enrollments.each do |e| %>
      <li><%= "#{e.student.name} записан(а) на курс #{e.course.title}" %></li>
      <%- end %>  
    </ul>
    </div>
  </div>        
<p class="text-block">
Если списки выглядят одинаково, можно двигаться дальше.
</p>
<%= button_to 'К средним баллам', '/step4', method: :get %>  
</div>        
  
</div>